---
import Base from '../layouts/Base.astro';
import Banner from '../components/Banner.astro';
import Title from '../components/Title.astro';
---

<Base title="Rokalin Pharmaceuticals">
  <section class="flex flex-col lg:flex-row justify-center items-center gap-x-6 gap-y-6 mb-20">
    <div class="max-w-md">
      <Title>
        Rokalin Pharmaceuticals
      </Title>
    </div>
    <img
      alt="Rokalin Pharmaceuticals - Innovate Health, Transform Lives"
      src="/images/logo-full-transparent-eng.png"
      class="w-3/5 lg:w-2/5 xl:w-1/4 max-w-sm object-cover"
    />
  </section>
  <div class="mb-16 lg:mb-28">
    <Banner title="Mission Statement" body="To pioneer nano-enhanced therapies that offer effective, safe, and affordable cancer treatment." />
    <Banner align="right" title="Problem" body="Existing cancer treatments are plagued by severe side effects and limited efficacy. Although many natural compounds have proven anticancer properties, their weak effects and high dose requirements render them clinically impractical." />
    <Banner title="Solution" body="Our innovative nano-enhancing formulations increase the specificity and activity of these natural anticancer compounds, making them clinically effective while significantly reducing side effects." />
    <Banner align="right" title="Market Opportunity" body="The global cancer treatment market is projected to reach $520 billion by 2033, presenting a substantial opportunity for our advanced nanoformulated therapies." />
  </div>
  <section>
    <h2 class="text-center text-3xl sm:text-5xl font-extrabold mb-6 sm:mb-10">
      Our Pitch
    </h2>
    <iframe class="mx-auto w-full max-w-3xl aspect-video" src="https://www.youtube.com/embed/ehTiIftjAeA?si=F6dpfnHNCGBm_k4v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </section>
</Base>
