---
import Base from '../layouts/Base.astro';
import Banner from '../components/Banner.astro';
import Title from '../components/Title.astro';
---

<Base title="Rokalin Pharmaceuticals">
  <section class="grid justify-items-center items-center gap-x-6 gap-y-6 md:grid-cols-2">
    <div class="max-w-md">
      <Title>
        Rokalin Pharmaceuticals
      </Title>
    </div>
    <img
      alt="Rokalin Pharmaceuticals - Innovate Health, Transform Lives"
      src="/images/logo-full-transparent-eng.png"
      class="w-3/5 object-cover"
    />
  </section>
  <Banner title="Mission Statement" body="To pioneer nano-enhanced therapies that offer effective, safe, and affordable cancer treatment." />
  <Banner title="Problem" body="Existing cancer treatments are plagued by severe side effects and limited efficacy. Although many natural compounds have proven anticancer properties, their weak effects and high dose requirements render them clinically impractical." />
  <Banner title="Solution" body="Our innovative nano-enhancing formulations increase the specificity and activity of these natural anticancer compounds, making them clinically effective while significantly reducing side effects." />
  <Banner title="Market Opportunity" body="The global cancer treatment market is projected to reach $520 billion by 2033, presenting a substantial opportunity for our advanced nanoformulated therapies." />
</Base>
