---
interface Props {
  title: string
  body: string
}

const { title, body } = Astro.props;
---

<section class="bg-cover bg-center bg-no-repeat">
  <div class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:flex lg:items-center lg:px-8">
    <div class="max-w-xl text-left">
      <h2 class="text-3xl sm:text-5xl font-extrabold">
	{title}
      </h2>
      <p class="mt-4 max-w-lg sm:text-xl/relaxed">
	{body}
      </p>
    </div>
  </div>
</section>
