---
import NavLink from './NavLink.astro';
---

<nav class="flex justify-center gap-6">
	<NavLink href="/">Home</NavLink>
	<NavLink href="/solutions/">Solutions</NavLink>
	<NavLink href="/about/">About</NavLink>
	<NavLink href="/team/">Team</NavLink>
</nav>
