---
import NavLink from './NavLink.astro';
---

<nav class="flex justify-center gap-6">
	<NavLink href="/">Home</NavLink>
	<NavLink href="/values/">Values</NavLink>
	<NavLink href="/team/">Team</NavLink>
</nav>
