---
import clsx from 'clsx';

interface Props {
  href: string
}

const { href } = Astro.props

const twCommon = "shrink-0 rounded-lg py-1 px-2 text-white text-sm font-medium" 
const twCurrent = "bg-rokalin-teal-400" 
const twNotCurrent = "hover:bg-rokalin-teal-300" 

const current = href == Astro.url.pathname

const tw = clsx(twCommon, {
  [twCurrent]: current,
  [twNotCurrent]: !current,
})

---

<a href={href} class={tw}>
  <slot />
</a>
